/.metadata/
.metadata/.plugins/org.eclipse.core.resources/.history/94/f027e01ea9b5001c17fa812486666a57
.metadata/.plugins/org.eclipse.core.resources/.history/42/30c4e01ea9b5001c17fa812486666a57
*.ini
.metadata/.plugins/org.eclipse.core.resources/.history/42/30c4e01ea9b5001c17fa812486666a57
.metadata/.plugins/org.eclipse.core.resources/.history/11/6039e11ea9b5001c17fa812486666a57
.metadata/.plugins/org.eclipse.core.resources/.history/29/80a5dc1ea9b5001c17fa812486666a57
*.history
.metadata/.lock
*.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
